

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 1000px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px plum; 
}

.wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: plum;
}

.wrapper .input_field{
  margin-bottom: 40px;
  padding: 30px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 20px;
  height: 70px;
}

.wrapper textarea{
  resize: none;
  height: 200px;
}

.wrapper .btn input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: purple;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  height: 50px;
}

#error_message{
  margin-bottom: 20px;
  background: rgb(17, 96, 185);
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}